# Feature Scaling (Standardization)

$x = \frac{x-\mu}{\sigma}$

In [4]:
from sklearn.linear_model import LinearRegression

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

## Load Data

In [2]:
# to have access to my drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/ml101/1.02. Multiple linear regression.csv')
df.head()

    SAT   GPA  Rand 1,2,3
0  1714  2.40           1
1  1664  2.52           3
2  1760  2.54           3
3  1685  2.74           3
4  1693  2.83           2

## Inputs & Output

In [18]:
x = df[['SAT','Rand 1,2,3']]
y = df['GPA']

# here we don't change the shapte, it's already 2D

## Standarization

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [20]:
#it calculates the mean, and standard deviation of each feature
scaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
# the input data has been standarized
x_scaled = scaler.transform(x)

## Regression

In [22]:
model = LinearRegression()
model.fit(x_scaled,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Model Summary

In [39]:
model_summary = pd.DataFrame(data=['Bias','SAT','Rand 1,2,3'],columns= ['Features'])

In [40]:
model_summary['Weights'] = model.intercept_,model.coef_[0],model.coef_[1]
model_summary

     Features   Weights
0        Bias  3.330238
1         SAT  0.171814
2  Rand 1,2,3 -0.007030

## Predictions

In [47]:
new_data = pd.DataFrame(data = [[1700,2],[1800,1]],columns=['SAT','Rand 1,2,3'])
new_data # the order must be the same as the input

    SAT  Rand 1,2,3
0  1700           2
1  1800           1

### Scale new data

In [48]:
new_input = new_data[['SAT','Rand 1,2,3']]
new_input_scaled = scaler.transform(new_input)

### Perform predictions

In [49]:
model.predict(new_input_scaled)

array([3.09051403, 3.26413803])